<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="producer.studios.addresses" value="LOOPBACK,A|http://192.168.7.123:9926/talkback,B|http://192.168.7.124:9926/talkback" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>